/* Botones */
.button {
  display: inline-block;
  padding: var(--spacing-small) var(--spacing-base);
  font-size: var(--font-size-base);
  font-weight: var(--title-font-weight);
  color: var(--background-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--radius-medium);
  text-align: center;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Inputs */
.input {
  width: 100%;
  padding: var(--spacing-base);
  font-size: var(--font-size-base);
  color: var(--primary-color);
  background: var(--card-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--radius-medium);
  box-shadow: var(--box-shadow);
  outline: none;
}

.input:focus {
  box-shadow: 0 0 6px rgba(17, 17, 17, 0.3);
}